In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('202007-citibike-tripdata.csv')
df2 = pd.read_csv('202008-citibike-tripdata.csv')
df3 = pd.read_csv('202009-citibike-tripdata.csv')
df4 = pd.read_csv('202010-citibike-tripdata.csv')
df5 = pd.read_csv('202011-citibike-tripdata.csv')
df6 = pd.read_csv('202012-citibike-tripdata.csv')

In [3]:
Q3_4_df = pd.concat([df1, df2, df3, df4, df5, df6])
Q3_4_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,341,2020-07-01 00:00:01.3020,2020-07-01 00:05:42.5650,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,33861,Subscriber,1986,1
1,321,2020-07-01 00:00:01.3620,2020-07-01 00:05:22.9490,3463,E 16 St & Irving Pl,40.735367,-73.987974,2003,1 Ave & E 18 St,40.733812,-73.980544,31233,Subscriber,1990,2
2,2710,2020-07-01 00:00:06.6290,2020-07-01 00:45:17.3410,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,40329,Customer,1969,0
3,2685,2020-07-01 00:00:13.0220,2020-07-01 00:44:58.8640,426,West St & Chambers St,40.717548,-74.013221,212,W 16 St & The High Line,40.743349,-74.006818,17567,Subscriber,1998,1
4,191,2020-07-01 00:00:13.4660,2020-07-01 00:03:24.6230,3615,44 Dr & 21 St,40.748000,-73.946093,3127,9 St & 44 Rd,40.749660,-73.952100,43421,Subscriber,1992,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1088924,2045,2020-12-31 23:58:21.7040,2021-01-01 00:32:27.1570,526,E 33 St & 5 Ave,40.747659,-73.984907,3614,Crescent St & 30 Ave,40.768692,-73.924957,36467,Subscriber,1994,1
1088925,288,2020-12-31 23:58:37.8400,2021-01-01 00:03:26.3250,3307,West End Ave & W 94 St,40.794165,-73.974124,3383,Cathedral Pkwy & Broadway,40.804213,-73.966991,47749,Subscriber,1969,0
1088926,152,2020-12-31 23:58:52.8090,2021-01-01 00:01:25.6720,3510,Adam Clayton Powell Blvd & W 123 St,40.807832,-73.949373,3518,Lenox Ave & W 126 St,40.808442,-73.945209,48691,Customer,1969,0
1088927,654,2020-12-31 23:59:55.9550,2021-01-01 00:10:50.6050,4073,W 51 St & Rockefeller Plaza,40.759700,-73.978082,500,Broadway & W 51 St,40.762288,-73.983362,49564,Subscriber,1994,1
1088928,2589,2020-12-31 23:59:57.4070,2021-01-01 00:43:06.4490,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47364,Customer,1969,0

In [4]:
Q3_4_df.to_csv('Q3_4.csv')

In [28]:
duplicate = Q3_4_df[Q3_4_df.duplicated()]

In [29]:
duplicate

Empty DataFrame
Columns: [tripduration, starttime, stoptime, start station id, start station name, start station latitude, start station longitude, end station id, end station name, end station latitude, end station longitude, bikeid, usertype, birth year, gender]
Index: []

In [26]:
age = pd.DataFrame(Q3_4_df, columns = ['birth year', 'starttime'])

In [27]:
age.loc[age['birth year'] == 1969]

         birth year                 starttime
2              1969  2020-07-01 00:00:06.6290
12             1969  2020-07-01 00:00:53.3270
14             1969  2020-07-01 00:00:56.8880
16             1969  2020-07-01 00:01:00.4910
17             1969  2020-07-01 00:01:00.9970
...             ...                       ...
1088903        1969  2020-12-31 23:54:49.7470
1088915        1969  2020-12-31 23:57:17.1180
1088925        1969  2020-12-31 23:58:37.8400
1088926        1969  2020-12-31 23:58:52.8090
1088928        1969  2020-12-31 23:59:57.4070

[1445020 rows x 2 columns]